{% extends "../base.html.twig" %}
{% block title %}Equipe
{% endblock %}
{% block content %}
	<div class="main-team">
		<div class="main-team_description">
			<h2 class="main-team description-title">Informations !</h2>

			<div class="main-team description-manager">Manager :

			</div>
			<div class="main-team description-rack">Chassis :

			</div>
			<div class="main-team description-motor">Moteur :

			</div>
			<img class="main-team description-car-img" src="https://picsum.photos/200/200">

		</div>

		<div class="main-team description-driver">

			<h2 class="main-team description-title">Name :

			</h2>
			<div>
				driver
				<div></div>
			</div>
			<img class="main-team description-driver-img" src="https://picsum.photos/50/50">
		</div>


	{% endblock %}
